form {
  width: 500px;
  margin: 50px auto;
  text-align: left;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

label {
  font-weight: bold;
  margin-top: 20px;
  display: block;
}
#name,
#email,
#age,
#dob,
#password,
#laptop,
#portfolio
 {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid black;
  box-sizing: border-box;
  font-size: 16px;
}

#submit{
  margin-top: 20px;
  padding: 10px 20px;
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#submit:hover {
  background-color: gray;
  color: white;
}
